 body {
      position: relative; 
  }
  .country {
    width:50%; 
    height:100%; 
    float: left;  
    background-size: cover;
    display: inline-flex;

  }
  #chinaCSS{
    background-image: url("./images/chinese_culture.jpg"); 
  }
   #thaiCSS{
    background-image: url("./images/photo44_copy.jpg"); 
  }
   #japanCSS{
    background-image: url("./images/japan.jpg"); 
  }
  #indiaCSS{
    background-image: url("./images/india.jpg"); 
  }
   #sKoreaCSS{
    background-image: url("./images/sKorea.jpg"); 
  }
   #franceCSS{
    background-image: url("./images/france2.jpg"); 
  }
  #franceComments{}
   #englandCSS{
    background-image: url("./images/england2.jpg"); 
  }
  #englandComments{}
   #italyCSS{
    background-image: url("./images/italy2.jpg"); 
  }
  #italyComments{}
   #germanyCSS{
    background-image: url("./images/germany.jpg"); 
  }
  #germanyComments{}
   #greeceCSS{
    background-image: url("./images/greece1.jpg"); 
  }
  #greeceComments{}
  #usaCSS{
    background-image: url("./images/usa.jpg"); 
  }
  #usaComments{}
  #canadaCSS{
    background-image: url("./images/canada.jpg"); 
  }
  #canadaComments{}
  #mexicoCSS{
    background-image: url("./images/mexico.jpg"); 
  }
  #mexicoComments{}
  #peruCSS{
    background-image: url("./images/peru.jpg"); 
  }
  #peruComments{}
   #brazilCSS{
    background-image: url("./images/brazil.jpg"); 
  }
  #brazilComments{}
   #chileCSS{
    background-image: url("./images/chile.jpg"); 
  }
  #chileComments{}
  #crCSS{
    background-image: url("./images/cr.jpg"); 
  }
  #crComments{}
   #argentinaCSS{
    background-image: url("./images/argentina.jpg"); 
  }
  #argentinaComments{}
   #israelCSS{
    background-image: url("./images/israel.jpg"); 
  }
  #israelComments{}
   #egyptCSS{
    background-image: url("./images/egypt.jpg"); 
  }
  #egyptComments{}
   #saCSS{
    background-image: url("./images/sa.jpg"); 
  }
  #saComments{}
  #uaeCSS{
    background-image: url("./images/uae.jpg"); 
  }
  #uaeComments{}
   #turkeyCSS{
    background-image: url("./images/turkey.jpg"); 
  }
  #uaeComments{}
    #australiaCSS{
    background-image: url("./images/australia.png"); 
  }
  #australiaComments{}
    #nzCSS{
    background-image: url("./images/nz.jpg"); 
  }
  #nzComments{}
    #ngCSS{
    background-image: url("./images/ng2.jpg"); 
  }
  #ngComments{}
    #tasCSS{
    background-image: url("./images/tas.jpg"); 
  }
  #tasComments{}
   #fijiCSS{
    background-image: url("./images/fiji.jpg"); 
  }
  #figiComments{}
   #moroccoCSS{
    background-image: url("./images/morocco.jpg"); 
  }
  #moroccoComments{}
   #tunisiaCSS{
    background-image: url("./images/tunisia.jpg"); 
  }
  #tunisiaComments{}
   #tanzCSS{
    background-image: url("./images/tanz.jpg"); 
  }
  #tanzComments{}
  #ghanaCSS{
    background-image: url("./images/ghana.jpg"); 
  }
  #ghanaComments{}
   #algeriaCSS{
    background-image: url("./images/algeria.jpg"); 
  }
  #algeriaComments{}
  #hkCSS{
    background-image: url("./images/hongkong.jpg"); 
  }
  #hkComments{}
  #indonesiaCSS{
    background-image: url("./images/indonesia.jpg"); 
  }
  #indonesiaComments{}
  #vietnamCSS{
    background-image: url("./images/vietnam.jpg"); 
  }
  #vietnamComments{}
  #malaysiaCSS{
    background-image: url("./images/malaysia.jpg"); 
  }
  #malaysiaComments{}
  #taiwanCSS{
    background-image: url("./images/taiwan.jpg"); 
  }
  #taiwanComments{}
  #singaporeCSS{
    background-image: url("./images/singapre.jpg"); 
  }
  #singaporeComments{}


  .circle {
    text-align:center; 
    display: inline-flex;
    position: relative;
    margin: 25%;
    width: 400px;
    height:300px;
    background: white;
    border-radius: 50%;
    opacity: .5;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%
  }


  .names{
    margin: auto;
  }

  .commentSection {
    display: none;

  }

  .right {
    width:50%; 
    height:100%; 
    float: right; 
    background-color:grey;
  }
  
  h1 {
    color: black;
  }
  span{
    color: black;
  }
  #top {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:20%;
 
    height:700px;
    color: #fff; 
    background-color: lightgrey; 
    text-align: center;
  }
  #china {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #thailand {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

   #japan {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #india{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

  #sKorea{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
 #hk{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
   
  #container{
    height:100%;
    width:100%;
  }

  #infoID{
    padding-left: 2%;
    padding-right: 2%;
  }

  #israel {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;

  }

   #france {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #england {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #italy {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #germany {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #greece{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #peru {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #brazil {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #chile {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #cr {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #argentina{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #morocco {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #tunisia {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #tanz {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #ghana {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #algeria{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #usa {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #mexico{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #canada {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #egypt {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #sa {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #uae {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #turkey{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #australia {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #nz {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #ng{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #tas{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
   #fiji{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  
  #taiwan{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
     background-size: cover;
  }

  #sing{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #malaysia{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #vietnam{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }
  #indo{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
    padding-left: 2%;
    padding-right: 2%;
  }

