 body {
      position: relative; 
  }
  .country {
    width:50%; 
    height:100%; 
    float: left;  
    background-size: cover;
    display: inline-flex;

  }
  #chinaCSS{
    background-image: url("./images/chinese_culture.JPG"); 
  }
   #thaiCSS{
    background-image: url("./images/photo44_copy.JPG"); 
  }
   #japanCSS{
    background-image: url("./images/japan.JPG"); 
  }
  #indiaCSS{
    background-image: url("./images/india.JPG"); 
  }
   #sKoreaCSS{
    background-image: url("./images/sKorea.JPG"); 
  }
   #franceCSS{
    background-image: url("./images/france2.JPG"); 
  }
   #englandCSS{
    background-image: url("./images/england2.JPG"); 
  }
   #italyCSS{
    background-image: url("./images/italy2.JPG"); 
  }
   #germanyCSS{
    background-image: url("./images/germany.JPG"); 
  }
   #greeceCSS{
    background-image: url("./images/greece1.JPG"); 
  }
  #usaCSS{
    background-image: url("./images/usa.JPG"); 
  }
  #canadaCSS{
    background-image: url("./images/canada.JPG"); 
  }
  #mexicoCSS{
    background-image: url("./images/mexico.JPG"); 
  }
  #peruCSS{
    background-image: url("./images/peru.JPG"); 
  }
   #brazilCSS{
    background-image: url("./images/brazil.JPG"); 
  }
   #chileCSS{
    background-image: url("./images/chile.JPG"); 
  }
  #crCSS{
    background-image: url("./images/cr.JPG"); 
  }
   #argentinaCSS{
    background-image: url("./images/argentina.JPG"); 
  }
   #israelCSS{
    background-image: url("./images/israel.JPG"); 
  }
   #egyptCSS{
    background-image: url("./images/egypt.JPG"); 
  }
   #saCSS{
    background-image: url("./images/sa.JPG"); 
  }
  #uaeCSS{
    background-image: url("./images/uae.JPG"); 
  }
   #turkeyCSS{
    background-image: url("./images/turkey.JPG"); 
  }
  #australiaCSS{
    background-image: url("./images/australia.JPG"); 
  }
   #nzCSS{
    background-image: url("./images/nz3.JPG"); 
  }
   #ngCSS{
    background-image: url("./images/ng2.JPG"); 
  }
  #tasCSS{
    background-image: url("./images/tas.JPG"); 
  }
   #fijiCSS{
    background-image: url("./images/fiji.JPG"); 
  }
   #moroccoCSS{
    background-image: url("./images/morocco.JPG"); 
  }
   #tunisiaCSS{
    background-image: url("./images/tunisia.JPG"); 
  }
   #tanzCSS{
    background-image: url("./images/tanz.JPG"); 
  }
  #ghanaCSS{
    background-image: url("./images/ghana.JPG"); 
  }
   #algeriaCSS{
    background-image: url("./images/algeria.JPG"); 
  }
  #hkCSS{
    background-image: url("./images/hk.JPG"); 
  }
  #indonesiaCSS{
    background-image: url("./images/indonesia.JPG"); 
  }
  #vietnamCSS{
    background-image: url("./images/vietnam.JPG"); 
  }
  #malaysiaCSS{
    background-image: url("./images/malaysia.JPG"); 
  }
  #taiwanCSS{
    background-image: url("./images/taiwan.JPG"); 
  }
  #singaporeCSS{
    background-image: url("./images/singapre.JPG"); 
  }



  .circle {
    text-align:center; 
    display: inline-flex;
    position: relative;
    margin: 25%;
    width: 400px;
    height:300px;
    background: white;
    border-radius: 50%;
    opacity: .5;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%
  }

  .names{
    margin: auto;
  }

  .commentSection {
    display: none;

  }

  .right {
    width:50%; 
    height:100%; 
    float: right; 
    background-color:grey;
  }
  
  h1 {
    color: black;
  }
  span{
    color: black;
  }
  #top {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:20%;
 
    height:700px;
    color: #fff; 
    background-color: lightgrey; 
    text-align: center;
  }
  #china {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #thailand {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

   #japan {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #india{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

  #sKorea{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
 #hk{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
   
  #container{
    height:100%;
    width:100%;
  }

  #infoID{
    padding-left: 10%;
    padding-right: 10%;
  }