 body {
      position: relative; 
  }
  .country {
    width:50%; 
    height:100%; 
    float: left;  
    background-size: cover;
    display: inline-flex;

  }
  #chinaCSS{
    background-image: url('chinese_culture.JPG'); 
  }
   #thaiCSS{
    background-image: url('photo44_copy.JPG'); 
  }
   #japanCSS{
    background-image: url('japan.JPG'); 
  }
  #indiaCSS{
    background-image: url('india.JPG'); 
  }
   #sKoreaCSS{
    background-image: url('sKorea.JPG'); 
  }
   #franceCSS{
    background-image: url('france2.JPG'); 
  }
   #englandCSS{
    background-image: url('england2.JPG'); 
  }
   #italyCSS{
    background-image: url('italy2.JPG'); 
  }
   #germanyCSS{
    background-image: url('germany.JPG'); 
  }
   #greeceCSS{
    background-image: url('greece1.JPG'); 
  }
  #usaCSS{
    background-image: url('usa.JPG'); 
  }
   #canadaCSS{
    background-image: url('canada.JPG'); 
  }
   #mexicoCSS{
    background-image: url('mexico.JPG'); 
  }
    #peruCSS{
    background-image: url('peru.JPG'); 
  }
   #brazilCSS{
    background-image: url('brazil.JPG'); 
  }
   #chileCSS{
    background-image: url('chile.JPG'); 
  }
  #crCSS{
    background-image: url('cr.JPG'); 
  }
   #argentinaCSS{
    background-image: url('argentina.JPG'); 
  }
   #israelCSS{
    background-image: url('israel.JPG'); 
  }
   #egyptCSS{
    background-image: url('egypt.JPG'); 
  }
   #saCSS{
    background-image: url('sa.JPG'); 
  }
  #uaeCSS{
    background-image: url('uae.JPG'); 
  }
   #turkeyCSS{
    background-image: url('turkey.JPG'); 
  }
  #australiaCSS{
    background-image: url('australia.png'); 
  }
   #nzCSS{
    background-image: url('nz3.JPG'); 
  }
   #ngCSS{
    background-image: url('ng2.JPG'); 
  }
  #tasCSS{
    background-image: url('tas.jpg'); 
  }
   #fijiCSS{
    background-image: url('fiji.JPG'); 
  }
   #moroccoCSS{
    background-image: url('morocco.jpg'); 
  }
   #tunisiaCSS{
    background-image: url('tunisia.JPG'); 
  }
   #tanzCSS{
    background-image: url('tanz.JPG'); 
  }
  #ghanaCSS{
    background-image: url('ghana.jpg'); 
  }
   #algeriaCSS{
    background-image: url('algeria.jpg'); 
  }
  #hkCSS{
    background-image: url('hk.jpg'); 
  }
  #indonesiaCSS{
    background-image: url('indonesia.jpg'); 
  }
  #vietnamCSS{
    background-image: url('vietnam.jpg'); 
  }
  #malaysiaCSS{
    background-image: url('malaysia.jpg'); 
  }
  #taiwanCSS{
    background-image: url('taiwan.jpg'); 
  }
  #singaporeCSS{
    background-image: url('singapre.jpg'); 
  }



  .circle {
    text-align:center; 
    display: inline-flex;
    position: relative;
    margin: 25%;
    width: 400px;
    height:300px;
    background: white;
    border-radius: 50%;
    opacity: .5;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0%
  }

  .names{
    margin: auto;
  }

  .commentSection {
    display: none;

  }

  .right {
    width:50%; 
    height:100%; 
    float: right; 
    background-color:grey;
  }
  
  h1 {
    color: black;
  }
  span{
    color: black;
  }
  #top {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:20%;
 
    height:700px;
    color: #fff; 
    background-color: lightgrey; 
    text-align: center;
  }
  #china {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #thailand {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

   #japan {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
    padding-top:50px;
    height:650px;
    color: #fff; 
    background-color: lightgrey;
  }

  #india{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }

  #sKorea{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
 #hk{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
              font-weight: 100;
     padding-top:50px;
    height:650px;
    color: #fff; 
    background-color:lightgrey;
  }
   
  #container{
    height:100%;
    width:100%;
  }